.aboutContainer {
  padding-top: 6rem;
  width: 70%;
//   height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 90px;
  h3 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 30px;
  }
  p {
    line-height: 28px;
    color: #4e4a4a;
font-weight: lighter;
    padding-bottom: 20px;
  }
}
